* {
  box-shadow: none;
}

@font-face {
  font-family: 'Renogare';
  src: url('fonts/Renogare-Regular.woff2') format('woff2'),
    url('fonts/Renogare-Regular.woff') format('woff'),
    url('fonts/Renogare-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Renogare', Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  color: white;
}

.containerHeader {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.navbar li {
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.agora {
  font-weight: bolder;
}

.banner {
  height: 700px;
  background-size: cover;
  background-position: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../assets/imgs/banner.gif);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-bottom: 5px solid #bca4d4;
}

.containerMain {
  width: 100%;
  height: 1000px;
  margin: auto;
  background: linear-gradient(#311E2F, #393638);
}

.bannerTitle {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
}

.footer {
  border-top: 5px #bca4d4 solid;
  width: 100%;
  height: 160px;
  color: white;
  background-color: #101013;
}

.containerFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
}

.imgBox {
  width: 10%;
}

.footerText {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;

}