* {
  box-shadow: none;
}

@font-face {
  font-family: "Renogare";
  src: url("fonts/Renogare-Regular.woff2") format("woff2"),
    url("fonts/Renogare-Regular.woff") format("woff"),
    url("fonts/Renogare-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Renogare", Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  color: white;
  backdrop-filter: blur(4px);
  background: rgba(20, 0, 30, 0.4);
}

.containerHeader {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.navbar li {
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.navbar a:hover {
  transform: scale(1.1);
  font-weight: bold;
}

.agora {
  font-weight: bolder;
}

.banner {
  height: auto;
  min-height: 94vh;
  background-size: cover;
  background-position: left;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url(../assets/imgs/banner.gif);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-bottom: 15px solid #bca4d4;
  padding-top: 40px;
  background-repeat: round;
  flex-direction: column;
}

.banner button {
  justify-self: flex-end;
  width: 200px;
  height: 50px;
  border-radius: 12px;
  background: linear-gradient(#311e2f, #393638);
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.8);
}

.containerMain {
  width: auto;
  height: auto;
  margin: auto;
  justify-content: center;
  display: flex;
  background: linear-gradient(#311e2f, #393638);
}

.bannerTitle {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin-top: 45px;
}

.banner button {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  width: 200px;
  height: 50px;
  border-radius: 12px;
  background: linear-gradient(#311e2f, #393638);
  border: 2px solid white;
  margin-top: 200px;
}

.banner button a {
  text-decoration: none;
  color: white;
}

.banner button:hover {
  border: 3px solid #fff;
  transform: scale(1.1);
}

.footer {
  border-top: 5px #bca4d4 solid;
  width: 100%;
  height: 10%;
  color: white;
  background-color: #101013;
}

.containerFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
}

.footerText {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.boxes {
  margin-top: auto;
  height: auto;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.boxes img {
  align-self: center;
  margin-right: 20px;
}

.img_Carrosel {
  width: 600px;
}

.img_text {
  width: 600px;
}

.fontChapters {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: white;
  margin-top: 20px;
}

.box {
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(#393638, #311e2f);
  border-radius: 12px;
  width: 80%;
  height: 750px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.box2 {
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(#393638, #311e2f);
  border-radius: 12px;
  width: 70%;
  height: 400px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.titleBox {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.textBox {
  top: 0;
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  color: white;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.4;
  font-size: 16px;
  overflow: auto;
  padding-right: 15px;
  max-height: 700px;
}

::-webkit-scrollbar {
  width: 8px;
  margin-left: 20px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
}

.imgBox img {
  border: 2px solid white;
  border-radius: 12px;
}

#imgCarroselClass {
  width: 100px;
}

.tituloBoxes {
  color: white;
  font-size: 30px;
  margin-bottom: 50px;
  padding-top: 30px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.boxPerso {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(#393638, #311e2f);
  border-radius: 12px;
  width: 80%;
  height: 200px;
  width: 700px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.caixaBonecos {
  border: 2px solid white;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  height: 100px;
  width: 100px;
  flex-direction: column;
  background: url(../assets/imgs/personagens/madeline.gif);
  background-size: cover;
}

.caixaBonecos:hover {
  border: 3px solid #fff;
  transform: scale(1.1);
}

#badeline {
  background: url(../assets/imgs/personagens/badeline.gif);
  background-size: cover;
}

#theo {
  background: url(../assets/imgs/personagens/theo.gif);
  background-size: cover;
}

#oldWoman {
  background: url(../assets/imgs/personagens/celestegrannylaugh.gif);
  background-size: cover;
}

#oshiro {
  background: url(../assets/imgs/personagens/oshiro.png);
  background-size: cover;
}

.modalBox {
  width: 1000px;
  height: 220px;

  padding: 25px 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.conteudoModal {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 100%;
  height: 100%;
}

.iconePersonagem {
  width: 150px;
  object-fit: cover;
  margin-left: 10px;
  border-radius: 4px;
}

.textoDialogo {
  color: white;
  font-size: 22px;
  margin-top: 10px;
}

.madelineFundo {
  background: url("../assets/imgs/textBox/madeline.png");
  background-size: 100% 100%;
}

.badelineFundo {
  background: url("../assets/imgs/textBox/badeline.png");
  background-size: 100% 100%;
}

.theoFundo {
  background: url("../assets/imgs/textBox/theo.png");
  background-size: 100% 100%;
}

.grannyFundo {
  background: url("../assets/imgs/textBox/granny.png");
  background-size: 100% 100%;
}

.oshiroFundo {
  background: url("../assets/imgs/textBox/oshiro.png");
  background-size: 100% 100%;
}

.tocandoAgora {
  margin-top: 20px;
  display: flex;
  border: 2px solid white;
  height: 100px;
  width: 300px;
  border-radius: 12px;
  color: white;
  align-items: center;
  justify-content: center;
}

.nomeMusica {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.autor {
  font-family: "Renogare";
  margin-top: 10px;
}
