* {
  box-shadow: none;
}

@font-face {
  font-family: 'Renogare';
  src: url('fonts/Renogare-Regular.woff2') format('woff2'),
    url('fonts/Renogare-Regular.woff') format('woff'),
    url('fonts/Renogare-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Renogare', Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  color: white;
  backdrop-filter: blur(4px);
  background: rgba(20, 0, 30, 0.4);
}

.containerHeader {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.navbar li {
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.agora {
  font-weight: bolder;
}

.banner {
  height: auto;
  min-height: 99vh;
  background-size: cover;
  background-position: left;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../assets/imgs/banner.gif);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-bottom: 15px solid #bca4d4;
  background-repeat: round;
  flex-direction: column;
}

.banner button {
  justify-self: flex-end;
  width: 200px;
  height: 50px;
  border-radius: 12px;
  background: linear-gradient(#311E2F, #393638);
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.8);
}

.banner button a {
  text-decoration: none;
  color: white;
}

.containerMain {
  width: auto;
  height: auto;
  margin: auto;
  justify-content: center;
  display: flex;
  background: linear-gradient(#311E2F, #393638);
}

.bannerTitle {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.footer {
  border-top: 5px #bca4d4 solid;
  width: 100%;
  height: 160px;
  color: white;
  background-color: #101013;
}

.containerFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
}

.imgBox {
  width: 10%;
}

.footerText {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.boxes {
  margin-top: auto;
  height: auto;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.boxes img {
  align-self: center;
  margin-right: 20px;
}

.img_Carrosel {
  width: 700px;
  height: 400px;

}

.fontChapters {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: white;
  margin-top: 20px;
}

.box {
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(#393638, #311E2F);
  border-radius: 12px;
  width: 80%;
  height: 500px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.titleBox {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.textBox {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: justify;
  justify-content: justify;
  margin-left: 30px;
  margin-top: 20px;
  color: white;
}

.imgBox {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;

}

.imgBox img {
  border: 2px solid white;
  border-radius: 12px;
}